{% extends 'layout.html' %}

{% block content %}
<div class="container border-x">
    <h1>About Us</h1>
    <p class="lead">Learning has the power to transform the world, our lives,ourselves,our families as well as our communities. It empowers us to grow. That’s why we are here with the best learning platform for all.</p>
    <p>Welcome to DESTINATION- a distinctive & supportive academic environment that aims to enhance the knowledge of students, professors, and professionals through the courses available worldwide in their fields of interest.Destination is an online learning platform that provides everyone around the globe the access to world-class online courses from leading institutions and companies. We envision a platform that provides life - transforming skills and experiences to people all around. We provide a range of learning opportunities from online courses to hand on projects.The purpose of this type of website is to uphold the online learning courses which are made available worldwide. Destination contains information for students, faculty, and staff where they can get easy access to all the courses.</p>
</div>
{% endblock %}